<form>
    <h4>Password</h4>

    <div>
        <div class="form-group">
            <label class="control-label" for="old-password">Old Password:</label>
            <input class="form-control" data-ng-model="user.old_password" type="password" id="old-password"
                   placeholder="Old Password">
        </div>

        <div class="form-group">
            <label class="control-label" for="password">Password:</label>
            <input class="form-control" data-ng-keyup="verifyUserPassword(user)" data-ng-model="user.new_password"
                   type="password" id="password" placeholder="Password">
        </div>

        <div class="form-group" data-ng-class="{'has-error': identical === false}">
            <label class="control-label" for="verify-password">Verfiy Password:</label>
            <input class="form-control" data-ng-keyup="verifyUserPassword(user)" data-ng-model="user.verify_password"
                   type="password" id="verify-password" placeholder="Verify Password">
        </div>

        <div class="form-spacer"></div>
</form>

