<form>
    <h4>Security</h4>
    <div>
        <div class="form-group">
            <label class="control-label" for="security-question">Security Question:</label>
            <input class="form-control" data-ng-model="user.security_question" type="text" id="security-question"
                   placeholder="Security Question">
        </div>

        <div class="form-group">
            <label class="control-label" for="security-answer">Security Answer:</label>
            <input class="form-control" data-ng-model="user.security_answer" type="text" id="security-answer"
                   placeholder="Security Answer">
        </div>
    </div>
</form>
