<div class="dark-text md-pad-top" data-ng-controller="SelectPreviousDSPCtrl">
    <form>
        <div class="well">
            <div class="form-group">
                <select class="form-control" data-ng-model="tempCurrentDSP" data-ng-options="d.name for d in dsps"></select>
            </div>
        </div>

        <div class="form-group">
            <button type="button" data-ng-click="setPreviousDSP()" class="btn btn-default btn-success btn-lg btn-block">
                {{buttonsText.submit.text}}
            </button>
        </div>
    </form>
</div>