<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
    <div class="row sm-pad-all">
        <div class="centered">
            <page-header title="pageText.title" description="pageText.description"></page-header>

            <!-- See Current Selected DreamFactory Services Platform Settings -->
            <div class="sm-pad-bottom">
                <button class="btn btn-default btn-dreamfactory btn-lg btn-block" data-ng-click="currentDSPSettings()">
                    {{pageText.sections.currentDSPSettings.button.text}}
                </button>
            </div>


            <!-- Change Current DreamFactory Services Platform -->
            <div class="sm-pad-bottom">
                <button class="btn btn-default btn-dreamfactory btn-lg btn-block" data-ng-click="changeDSP()">
                    {{pageText.sections.changeDSP.button.text}}
                </button>
            </div>

            <!-- Reset Entire App -->
            <div class="sm-pad-bottom">
                <button class="btn btn-default btn-dreamfactory btn-lg btn-block" data-ng-click="resetApp()">
                    {{pageText.sections.resetApp.button.text}}
                </button>
            </div>

            <!-- Add more options -->
        </div>
    </div>
</div>