<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
    <div class="row sm-pad-all">
        <h2>{{currentDSP.name}}</h2>
        <table class="table">
            <tr>
                <td>
                    DSP Version
                </td>
                <td>
                    {{currentDSP.config.dsp_version}}
                </td>
            </tr>
            <tr>
                <td>
                    Database Version
                </td>
                <td>
                    {{currentDSP.config.db_version}}
                </td>
            </tr>
            <tr>
                <td>
                    URL
                </td>
                <td>
                    {{currentDSP.url}}
                </td>
            </tr>
            <tr>
                <td>
                    Guest Access
                </td>
                <td>
                    {{currentDSP.config.allow_guest_user}}
                </td>
            </tr>
            <tr>
                <td>
                    Open Registration
                </td>
                <td>
                    {{currentDSP.config.allow_open_registration}}
                </td>
            </tr>
            <tr>
                <td>
                    Remote Logins
                </td>
                <td>
                    {{currentDSP.config.allow_remote_logins}}
                </td>
            </tr>
        </table>

    </div>
    <div class="row">
        <dsp-settings-btns></dsp-settings-btns>
    </div>
</div>
