<!--
<ul class="mobile-dsp-list">
    <a href="#/launchpad/{{group.id}}" data-ng-repeat="group in groups.appGroups">
        <li>
            <div class="row">
                <div class="col-xs-3" style="height: 80px; padding-right: 0 !important">
                    <div class="" style="background: #fff; height: 100%; display:block; text-align: center;">
                        <i style="" class="fa fa-folder fa-5x"></i>
                    </div>

                </div>

                <div class="col-xs-9">
                    <h3>{{group.name}}</h3>
                    <p>{{group.description}}</p>
                </div>

            </div>
        </li>
    </a>
    -->
<!--
<a href="#/launchpad/{{group.id}}" data-ng-repeat="group in groups.unGrouped">
    <li>
        <div class="row">
            <div class="col-xs-3" style="display:inline-block; height: 100%; width: 100%; background:#fff;">asdf</div>
            <div class="col-xs-9">
                <h3>{{group.name}}</h3>
                <p>{{group.description}}</p>
            </div>
        </div>
    </li>
</a>
</ul>
-->
        <!--
    <ul class="mobile-dsp-list-tiles">
        <a>
            <li  class="group" hm-tap="singleTapGroup(group)" data-ng-repeat="group in groups.appGroups">
                <div>
                    <h3 class="skinny">{{group.name}}</h3>

                </div>
            </li>
        </a>
        <a>
            <li class="app" hm-tap="singleTapApp(app)" hm-hold="holdApp(app)" data-ng-repeat="app in groups.Ungrouped">
                <div>
                    <h3 class="skinny">{{app.name}}</h3>

                </div>
            </li>
        </a>
    </ul>
-->
        <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <ul class="mobile-dsp-list-tiles panel-swipe" id="panel-{{panel.current}}" data-ng-repeat="panel in panelsObj.panels" data-ng-show="currentPanel === {{panel.current}}">
            <a>
                <li data-ng-repeat="group in panel.groups" data-ng-class="group.id ? 'group' : 'dummyTile'" hm-tap="singleTapGroup(group)">
                    <div>
                        <h3 class="skinny">{{group.name}}</h3>
                    </div>
                    <tile-icon icon="fa-folder"></tile-icon>
                </li>
            </a>
            <a>
                <li data-ng-repeat="app in panel.apps" data-ng-class="app.id ? 'app' : 'dummyTile'"  hm-tap="singleTapApp(app)" hm-hold="holdApp(app)" >
                    <div>
                        <h3 class="skinny">{{app.name}}</h3>
                    </div>
                    <tile-icon icon="fa-html5"></tile-icon>
                </li>
            </a>
        </ul>
            </div>


