/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*
@import "partials/carousel.scss";
*/
/*
General Purpose Colors
*/
/*
Specific Colors
*/
/*
Tile Colors
*/
/* line 9, ../sass/partials/_base.scss */
#main-app-container {
  margin: auto auto -60px;
}

/* line 13, ../sass/partials/_base.scss */
html {
  height: 100%;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/* line 22, ../sass/partials/_base.scss */
body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #00287a;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF00287A', endColorstr='#FF34BA23');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMjg3YSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzM0YmEyMyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00287a), color-stop(100%, #34ba23));
  background-image: -webkit-linear-gradient(top, #00287a 0%, #34ba23 100%);
  background-image: -moz-linear-gradient(top, #00287a 0%, #34ba23 100%);
  background-image: -o-linear-gradient(top, #00287a 0%, #34ba23 100%);
  background-image: linear-gradient(top, #00287a 0%, #34ba23 100%);
  height: 100%;
  padding-top: 50px;
  margin: 0;
  overflow: hidden;
}

/* line 42, ../sass/partials/_base.scss */
#wrap {
  height: auto;
  margin: 0 auto -85px;
  padding: 0 0 85px;
}

/* line 48, ../sass/partials/_base.scss */
#footer {
  background: none;
  height: 85px;
  left: 0;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 1030;
}
/* line 57, ../sass/partials/_base.scss */
#footer .container {
  text-align: center;
  margin: auto;
}
/* line 61, ../sass/partials/_base.scss */
#footer .container .col-xs-12 {
  padding: 0;
}
/* line 65, ../sass/partials/_base.scss */
#footer .container .col-xs-2 {
  width: 15%;
}
/* line 70, ../sass/partials/_base.scss */
#footer .container .col-xs-1 {
  float: none;
  padding: 0;
}
/* line 70, ../sass/partials/_base.scss */
#footer .container .col-xs-2 {
  float: none;
  padding: 0;
}
/* line 70, ../sass/partials/_base.scss */
#footer .container .col-xs-3 {
  float: none;
  padding: 0;
}
/* line 70, ../sass/partials/_base.scss */
#footer .container .col-xs-4 {
  float: none;
  padding: 0;
}
/* line 70, ../sass/partials/_base.scss */
#footer .container .col-xs-5 {
  float: none;
  padding: 0;
}
/* line 70, ../sass/partials/_base.scss */
#footer .container .col-xs-6 {
  float: none;
  padding: 0;
}
/* line 70, ../sass/partials/_base.scss */
#footer .container .col-xs-7 {
  float: none;
  padding: 0;
}
/* line 70, ../sass/partials/_base.scss */
#footer .container .col-xs-8 {
  float: none;
  padding: 0;
}
/* line 70, ../sass/partials/_base.scss */
#footer .container .col-xs-9 {
  float: none;
  padding: 0;
}
/* line 70, ../sass/partials/_base.scss */
#footer .container .col-xs-10 {
  float: none;
  padding: 0;
}
/* line 70, ../sass/partials/_base.scss */
#footer .container .col-xs-11 {
  float: none;
  padding: 0;
}
/* line 70, ../sass/partials/_base.scss */
#footer .container .col-xs-12 {
  float: none;
  padding: 0;
}
/* line 76, ../sass/partials/_base.scss */
#footer .container ul {
  padding: 0;
  margin: 0;
}
/* line 80, ../sass/partials/_base.scss */
#footer .container ul a {
  color: rgba(255, 255, 255, 0.5);
}
/* line 83, ../sass/partials/_base.scss */
#footer .container ul a li {
  list-style: none;
  display: inline-block;
  height: 100%;
  text-align: center;
}
/* line 89, ../sass/partials/_base.scss */
#footer .container ul a li .fa {
  display: block;
  margin: 13px 0 0;
}
/* line 94, ../sass/partials/_base.scss */
#footer .container ul a li p {
  color: rgba(255, 255, 255, 0.5);
  margin: 0 auto 4px;
  font-size: 12px;
}

/* line 104, ../sass/partials/_base.scss */
#footer-gray {
  background-color: white;
  height: 60px;
  left: 0;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 1030;
}
/* line 113, ../sass/partials/_base.scss */
#footer-gray .container {
  text-align: center;
  margin: auto;
}
/* line 117, ../sass/partials/_base.scss */
#footer-gray .container .col-xs-12 {
  padding: 0;
}
/* line 121, ../sass/partials/_base.scss */
#footer-gray .container .col-xs-2 {
  width: 15%;
}
/* line 126, ../sass/partials/_base.scss */
#footer-gray .container .col-xs-1 {
  float: none;
  padding: 0;
}
/* line 126, ../sass/partials/_base.scss */
#footer-gray .container .col-xs-2 {
  float: none;
  padding: 0;
}
/* line 126, ../sass/partials/_base.scss */
#footer-gray .container .col-xs-3 {
  float: none;
  padding: 0;
}
/* line 126, ../sass/partials/_base.scss */
#footer-gray .container .col-xs-4 {
  float: none;
  padding: 0;
}
/* line 126, ../sass/partials/_base.scss */
#footer-gray .container .col-xs-5 {
  float: none;
  padding: 0;
}
/* line 126, ../sass/partials/_base.scss */
#footer-gray .container .col-xs-6 {
  float: none;
  padding: 0;
}
/* line 126, ../sass/partials/_base.scss */
#footer-gray .container .col-xs-7 {
  float: none;
  padding: 0;
}
/* line 126, ../sass/partials/_base.scss */
#footer-gray .container .col-xs-8 {
  float: none;
  padding: 0;
}
/* line 126, ../sass/partials/_base.scss */
#footer-gray .container .col-xs-9 {
  float: none;
  padding: 0;
}
/* line 126, ../sass/partials/_base.scss */
#footer-gray .container .col-xs-10 {
  float: none;
  padding: 0;
}
/* line 126, ../sass/partials/_base.scss */
#footer-gray .container .col-xs-11 {
  float: none;
  padding: 0;
}
/* line 126, ../sass/partials/_base.scss */
#footer-gray .container .col-xs-12 {
  float: none;
  padding: 0;
}
/* line 132, ../sass/partials/_base.scss */
#footer-gray .container ul {
  padding: 0;
  margin: 0;
}
/* line 136, ../sass/partials/_base.scss */
#footer-gray .container ul a {
  color: #4d4d4d;
}
/* line 139, ../sass/partials/_base.scss */
#footer-gray .container ul a li {
  list-style: none;
  display: inline-block;
  height: 100%;
  /*margin: 13px auto 0;*/
  text-align: center;
  border-left: 1px solid #ddd;
}
/* line 147, ../sass/partials/_base.scss */
#footer-gray .container ul a li .fa {
  display: block;
  margin: 13px 0 0;
}
/* line 152, ../sass/partials/_base.scss */
#footer-gray .container ul a li p {
  color: #4d4d4d;
  margin: 0 auto 4px;
  font-size: 12px;
}
/* line 161, ../sass/partials/_base.scss */
#footer-gray .container ul a:first-child li {
  border-left: none;
}
/* line 167, ../sass/partials/_base.scss */
#footer-gray .container ul a:active li {
  background: #4d4d4d;
}
/* line 169, ../sass/partials/_base.scss */
#footer-gray .container ul a:active li p {
  color: white;
}

/* line 178, ../sass/partials/_base.scss */
.container {
  margin: 0;
  padding: 0;
  width: 100%;
}

/* line 184, ../sass/partials/_base.scss */
.padded-container {
  padding-left: 20px;
  padding-right: 20px;
}

/* line 190, ../sass/partials/_base.scss */
.fa-1-7 {
  font-size: 1.7em;
}

/* line 194, ../sass/partials/_base.scss */
.fa-8x {
  font-size: 8em;
}

/* line 199, ../sass/partials/_base.scss */
.centered {
  text-align: center;
  margin: auto;
}
/* line 204, ../sass/partials/_base.scss */
.centered .col-xs-1 {
  padding: 0;
}
/* line 204, ../sass/partials/_base.scss */
.centered .col-xs-2 {
  padding: 0;
}
/* line 204, ../sass/partials/_base.scss */
.centered .col-xs-3 {
  padding: 0;
}
/* line 204, ../sass/partials/_base.scss */
.centered .col-xs-4 {
  padding: 0;
}
/* line 204, ../sass/partials/_base.scss */
.centered .col-xs-5 {
  padding: 0;
}
/* line 204, ../sass/partials/_base.scss */
.centered .col-xs-6 {
  padding: 0;
}
/* line 204, ../sass/partials/_base.scss */
.centered .col-xs-7 {
  padding: 0;
}
/* line 204, ../sass/partials/_base.scss */
.centered .col-xs-8 {
  padding: 0;
}
/* line 204, ../sass/partials/_base.scss */
.centered .col-xs-9 {
  padding: 0;
}
/* line 204, ../sass/partials/_base.scss */
.centered .col-xs-10 {
  padding: 0;
}
/* line 204, ../sass/partials/_base.scss */
.centered .col-xs-11 {
  padding: 0;
}
/* line 204, ../sass/partials/_base.scss */
.centered .col-xs-12 {
  padding: 0;
}

/* line 211, ../sass/partials/_base.scss */
ul.mobile-list {
  padding: 0;
  margin: 0;
}
/* line 216, ../sass/partials/_base.scss */
ul.mobile-list li {
  list-style: none;
  border-bottom: 1px solid #4d4d4d;
}
/* line 221, ../sass/partials/_base.scss */
ul.mobile-list li a {
  text-decoration: none;
}
/* line 228, ../sass/partials/_base.scss */
ul.mobile-list li:first-child {
  border-top: 1px solid #4d4d4d;
}

/* line 234, ../sass/partials/_base.scss */
ul.mobile-dsp-list {
  padding: 0;
  margin: 0;
}
/* line 239, ../sass/partials/_base.scss */
ul.mobile-dsp-list li {
  list-style: none;
  border-bottom: 1px solid #4d4d4d;
}
/* line 244, ../sass/partials/_base.scss */
ul.mobile-dsp-list li a {
  text-decoration: none;
}
/* line 251, ../sass/partials/_base.scss */
ul.mobile-dsp-list li:first-child {
  border-top: 1px solid #4d4d4d;
}

/* line 256, ../sass/partials/_base.scss */
ul.mobile-dsp-list-tiles {
  padding: 0;
  margin: 0 auto;
  text-align: left;
}
/* line 263, ../sass/partials/_base.scss */
ul.mobile-dsp-list-tiles a {
  text-decoration: none;
}
/* line 266, ../sass/partials/_base.scss */
ul.mobile-dsp-list-tiles a li.dummyTile {
  background: rgba(0, 0, 0, 0);
}
/* line 271, ../sass/partials/_base.scss */
ul.mobile-dsp-list-tiles a li.app {
  background-color: rgba(255, 255, 255, 0.25);
}
/* line 276, ../sass/partials/_base.scss */
ul.mobile-dsp-list-tiles a li.group {
  background-color: rgba(255, 255, 255, 0.25);
}
/* line 281, ../sass/partials/_base.scss */
ul.mobile-dsp-list-tiles a li.dsp {
  background-color: rgba(255, 255, 255, 0.25);
}
/* line 285, ../sass/partials/_base.scss */
ul.mobile-dsp-list-tiles a li {
  list-style: none;
  width: 100px;
  height: 100px;
  overflow: hidden;
  display: inline-block;
  margin: 5px;
  padding: 5px;
  vertical-align: top;
  background: rgba(255, 255, 255, 0.25);
}
/* line 301, ../sass/partials/_base.scss */
ul.mobile-dsp-list-tiles a li h1 {
  color: white;
  margin: 0;
  font-weight: 900;
  font-size: 22px;
}
/* line 301, ../sass/partials/_base.scss */
ul.mobile-dsp-list-tiles a li h2 {
  color: white;
  margin: 0;
  font-weight: 900;
  font-size: 19px;
}
/* line 301, ../sass/partials/_base.scss */
ul.mobile-dsp-list-tiles a li h3 {
  color: white;
  margin: 0;
  font-weight: 900;
  font-size: 16px;
}
/* line 301, ../sass/partials/_base.scss */
ul.mobile-dsp-list-tiles a li h4 {
  color: white;
  margin: 0;
  font-weight: 900;
  font-size: 13px;
}
/* line 301, ../sass/partials/_base.scss */
ul.mobile-dsp-list-tiles a li h5 {
  color: white;
  margin: 0;
  font-weight: 900;
  font-size: 10px;
}
/* line 301, ../sass/partials/_base.scss */
ul.mobile-dsp-list-tiles a li h6 {
  color: white;
  margin: 0;
  font-weight: 900;
  font-size: 7px;
}
/* line 310, ../sass/partials/_base.scss */
ul.mobile-dsp-list-tiles a li p {
  font-weight: 200;
  font-size: 10px;
}
/* line 315, ../sass/partials/_base.scss */
ul.mobile-dsp-list-tiles a li .skinny {
  font-weight: 300;
}

/* line 326, ../sass/partials/_base.scss */
ul.indicator-dots {
  margin: 0;
  padding: 0;
  min-height: 25px;
}
/* line 331, ../sass/partials/_base.scss */
ul.indicator-dots li {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: none;
  border-radius: 2px;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid rgba(255, 255, 255, 0.75);
}
/* line 343, ../sass/partials/_base.scss */
ul.indicator-dots li.selected {
  background: rgba(255, 255, 255, 0.75);
}

@media screen and (max-width: 992px) {
  /* line 354, ../sass/partials/_base.scss */
  .tiles-container {
    width: 700px;
    margin: auto;
    text-align: left;
  }
}
@media screen and (max-width: 768px) {
  /* line 366, ../sass/partials/_base.scss */
  .tiles-container {
    width: 460px;
    margin: auto;
  }
}
@media screen and (max-width: 480px) {
  /* line 374, ../sass/partials/_base.scss */
  .tiles-container {
    width: 340px;
    margin: auto;
    text-align: left;
  }
}
@media screen and (max-width: 320px) {
  /* line 383, ../sass/partials/_base.scss */
  .tiles-container {
    width: 295px;
    margin: auto;
    text-align: left;
  }

  /* line 393, ../sass/partials/_base.scss */
  ul.mobile-dsp-list-tiles a li {
    width: 85px;
    height: 85px;
  }
}
/* line 402, ../sass/partials/_base.scss */
.dark {
  background: #1a1a1a;
  border: 1px solid #4d4d4d;
}

/* line 411, ../sass/partials/_base.scss */
.table tbody tr td {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  color: white;
}

/* line 419, ../sass/partials/_base.scss */
hr {
  margin: 0;
  border-top: 1px solid #4d4d4d;
}

/* line 425, ../sass/partials/_base.scss */
.navbar-dreamfactory {
  background: #1a1a1a;
  border: none;
}

/* line 431, ../sass/partials/_base.scss */
.panel-swipe {
  transform: translateZ(0px);
  -moz-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  text-align: left;
  position: absolute;
  top: 100px;
}

/* line 443, ../sass/partials/_base.scss */
.btn-default {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.5);
}

/* line 449, ../sass/partials/_base.scss */
.input-dreamfactory {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: white;
  -webkit-box-shadow: 0 0px 0 none, 0 0px none inset;
  -moz-box-shadow: 0 0px 0 none, 0 0px none inset;
  box-shadow: 0 0px 0 none, 0 0px none inset;
}

/* line 458, ../sass/partials/_base.scss */
input[type="select"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* line 3, ../sass/modules/_mixins.scss */
*::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
}

/* line 4, ../sass/modules/_mixins.scss */
*::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
}

/* firefox 19+ */
/* line 6, ../sass/modules/_mixins.scss */
*:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
}

/* ie */
/* line 7, ../sass/modules/_mixins.scss */
input:-moz-placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
}

/* line 468, ../sass/partials/_base.scss */
input:focus {
  border: 1px solid rgba(255, 255, 255, 0.75) !important;
  box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.75) !important;
}

/* line 473, ../sass/partials/_base.scss */
swiper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* line 481, ../sass/partials/_base.scss */
indicator {
  text-align: center;
  margin: auto;
}

  /*

.panel-swipe.ng-hide {
  opacity:0;
  transform: scale3d(0, 0, 1);
  transform: translateX(-500px);
}

.panel-swipe.ng-hide-add, .my-elm.ng-hide-remove {
  /* this needs to be here to make it visible during the animation
     since the .ng-hide class is already on the element rendering
     it as hidden. */
/*
  display:block!important;
}
*/
/* line 7, ../sass/partials/_typography.scss */
h1 {
  color: white;
  margin-top: 10px;
}

/* line 7, ../sass/partials/_typography.scss */
h2 {
  color: white;
  margin-top: 10px;
}

/* line 7, ../sass/partials/_typography.scss */
h3 {
  color: white;
  margin-top: 10px;
}

/* line 7, ../sass/partials/_typography.scss */
h4 {
  color: white;
  margin-top: 10px;
}

/* line 7, ../sass/partials/_typography.scss */
h5 {
  color: white;
  margin-top: 10px;
}

/* line 7, ../sass/partials/_typography.scss */
h6 {
  color: white;
  margin-top: 10px;
}

/* line 13, ../sass/partials/_typography.scss */
p {
  color: white;
}

/* line 18, ../sass/partials/_typography.scss */
label {
  display: block;
  color: white;
}

/* line 29, ../sass/partials/_typography.scss */
.dark-text h1 {
  color: #1a1a1a;
}
/* line 29, ../sass/partials/_typography.scss */
.dark-text h2 {
  color: #1a1a1a;
}
/* line 29, ../sass/partials/_typography.scss */
.dark-text h3 {
  color: #1a1a1a;
}
/* line 29, ../sass/partials/_typography.scss */
.dark-text h4 {
  color: #1a1a1a;
}
/* line 29, ../sass/partials/_typography.scss */
.dark-text h5 {
  color: #1a1a1a;
}
/* line 29, ../sass/partials/_typography.scss */
.dark-text h6 {
  color: #1a1a1a;
}
/* line 34, ../sass/partials/_typography.scss */
.dark-text p {
  color: #1a1a1a;
}
/* line 39, ../sass/partials/_typography.scss */
.dark-text label {
  color: #1a1a1a;
  font-weight: 300;
}

/* line 45, ../sass/partials/_typography.scss */
.pageText {
  color: white;
  text-align: left;
}
/* line 49, ../sass/partials/_typography.scss */
.pageText h2 {
  color: white;
}

/*
  Custom Panel Styling
*/
/* line 5, ../sass/partials/_panel.scss */
.panel {
  margin-bottom: auto;
  border-radius: 0px !important;
}
/* line 8, ../sass/partials/_panel.scss */
.panel h1 {
  color: #1a1a1a;
}
/* line 8, ../sass/partials/_panel.scss */
.panel h2 {
  color: #1a1a1a;
}
/* line 8, ../sass/partials/_panel.scss */
.panel h3 {
  color: #1a1a1a;
}
/* line 8, ../sass/partials/_panel.scss */
.panel h4 {
  color: #1a1a1a;
}
/* line 8, ../sass/partials/_panel.scss */
.panel h5 {
  color: #1a1a1a;
}
/* line 8, ../sass/partials/_panel.scss */
.panel h6 {
  color: #1a1a1a;
}
/* line 14, ../sass/partials/_panel.scss */
.panel p {
  color: #1a1a1a;
}

/* line 23, ../sass/partials/_panel.scss */
.panel-default {
  border: none !important;
}

/* line 27, ../sass/partials/_panel.scss */
.panel-group {
  border-radius: 0px !important;
}

/* line 33, ../sass/partials/_panel.scss */
.panel-heading {
  border: none !important;
  border-radius: 0px !important;
  font-size: 2em;
}

/* line 44, ../sass/partials/_panel.scss */
.panel-title a {
  text-decoration: none;
}

/* line 52, ../sass/partials/_panel.scss */
.panel-collapse {
  border: none !important;
  background: #1a1a1a;
}

/*

*/
/*
  Navbar
*/
/* line 19, ../sass/partials/_app.scss */
.navbar {
  margin-bottom: 0px;
}

/*
  Utility Classes
*/
/* Padding */
/* line 29, ../sass/partials/_app.scss */
.sm-pad-all {
  padding: 10px;
}

/* line 33, ../sass/partials/_app.scss */
.sm-pad-horizontal {
  padding-left: 10px;
  padding-right: 10px;
}

/* line 38, ../sass/partials/_app.scss */
.sm-pad-vertical {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 43, ../sass/partials/_app.scss */
.sm-pad-top {
  padding-top: 10px;
}

/* line 47, ../sass/partials/_app.scss */
.sm-pad-bottom {
  padding-bottom: 10px;
}

/* line 51, ../sass/partials/_app.scss */
.md-pad-all {
  padding: 20px;
}

/* line 55, ../sass/partials/_app.scss */
.md-pad-horizontal {
  padding-left: 20px;
  padding-right: 10px;
}

/* line 60, ../sass/partials/_app.scss */
.md-pad-vertical {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* line 65, ../sass/partials/_app.scss */
.md-pad-top {
  padding-top: 20px;
}

/* line 69, ../sass/partials/_app.scss */
.md-pad-bottom {
  padding-bottom: 20px;
}

/* line 73, ../sass/partials/_app.scss */
.lg-pad-all {
  padding: 50px;
}

/* line 77, ../sass/partials/_app.scss */
.lg-pad-horizontal {
  padding-left: 50px;
  padding-right: 50px;
}

/* line 82, ../sass/partials/_app.scss */
.lg-pad-vertical {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* line 87, ../sass/partials/_app.scss */
.lg-pad-top {
  padding-top: 50px;
}

/* line 91, ../sass/partials/_app.scss */
.lg-pad-bottom {
  padding-bottom: 50px;
}
