<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
    <div class="row">
        <div class="centered">
            <div class="tiles-container">
                <swiper hm-swipeleft="swipeLeft()" hm-swiperight="swipeRight()">
                    <div class="col-xs-12">
                        <page-header title="pageText.title" description="pageText.description"></page-header>
                        <div class="col-xs-12 panel-swipe" id="panel-0" data-ng-show="currentPanel === 0">
                            <ng-include src="'views/utility/forms/user-info.html'"></ng-include>
                        </div>
                        <div class="col-xs-12 panel-swipe" id="panel-1" data-ng-show="currentPanel === 1">
                            <ng-include src="'views/utility/forms/user-info-cont-1.html'"></ng-include>
                        </div>
                        <div class="col-xs-12 panel-swipe" id="panel-2" data-ng-show="currentPanel === 2">
                            <ng-include src="'views/utility/forms/security.html'"></ng-include>
                        </div>
                        <div class="col-xs-12 panel-swipe" id="panel-3" data-ng-show="currentPanel === 3">
                            <ng-include src="'views/utility/forms/password.html'"></ng-include>
                        </div>
                    </div>
                </swiper>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="centered">
            <div class="tiles-container">
                <profile-btns></profile-btns>
            </div>
        </div>
    </div>
</div>



