<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
    <div class="row sm-pad-all">
        <page-header title="pageText.title" description="pageText.description"></page-header>
        <swiper hm-options="{prevent_default: true, drag_max_touches: 1, drag_min_distance: .1}"
                hm-swipeleft="swipeLeft()" hm-swiperight="swipeRight()">
            <div>
                <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 panel-swipe"
                     id="panel-0" data-ng-show="currentPanel === 0">
                    <ng-include src="'views/utility/forms/user-info.html'"></ng-include>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 panel-swipe"
                     id="panel-1" data-ng-show="currentPanel === 1">
                    <ng-include src="'views/utility/forms/user-info-cont-1.html'"></ng-include>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 panel-swipe"
                     id="panel-2" data-ng-show="currentPanel === 2">
                    <ng-include src="'views/utility/forms/security.html'"></ng-include>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 panel-swipe"
                     id="panel-3" data-ng-show="currentPanel === 3">
                    <ng-include src="'views/utility/forms/password.html'"></ng-include>
                </div>
            </div>
        </swiper>
    </div>
    <div class="row">
        <profile-btns></profile-btns>
    </div>
</div>



